.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.main-container{
  margin: 27px;
}
.nav-btn-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.student-collection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.student-card{
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  background-color: #ccc;
}
.card-btn-group{
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card-btn-group>button{
  padding: 5px;
  width: 55px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}
.card-btn-group>button:hover{
  background-color: black;
  color: white;
}
input{
  padding: 7px;
  width: 90%;
  margin: 5px;
}
.form-group{
  padding: 7px; 
}

